button{
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  transition: background-color 0.3s ease-out;
  &:hover{
    transition: background-color 0.3s ease-in;
  }
  &[disabled]{
    opacity: .5;
    pointer-events: none;
  }
}
