<section class="content">
  <div class="person-image">
    <div *ngIf="loading; else elseBlock" >
      <img [src]="person.image" alt="">
    </div>
    <ng-template #elseBlock>
      <div class="spinner"></div>
    </ng-template>
  </div>
  <h1>Hola soy {{ person.name }} y <br> tengo {{ person.age }} años</h1>
  <div class="input-example">
    <input type="text" required minlength="3" maxlength="10" #nameInput="ngModel" [(ngModel)]="person.name">
    <p *ngIf="!nameInput.valid" class="invalid">{{ getError(nameInput.errors) }}</p>
  </div>
  <div class="input-example">
    <input type="number" class="input-example" required min="3" max="10" #ageInput="ngModel" [(ngModel)]="person.age">
    <!-- <p *ngIf="!ageInput.valid" class="invalid">{{ getError(ageInput.errors, 'age') }}</p> -->
  </div>
  <div class="input-example">
    <input type="text" [(ngModel)]="name" required #nameArray="ngModel" placeholder="Add new name">
    <button (click)="addNewName(nameArray.valid)">+</button>
    <!-- <p *ngIf="!nameArray.valid" class="invalid">{{ getError(nameArray.errors, 'new name') }}</p> -->
  </div>

  <section class="names">
    <div *ngFor="let name of names; index as i">{{ name }} <span class="close" (click)="removeName(i)">X</span></div>
  </section>

  <section class="progress">
    <button (click)="decrease()">-</button>
    <progress [value]="person.percentage" max="100"></progress>
    <button (click)="increase()">+</button>
  </section>

  <section class="products">
    <div *ngFor="let product of products; index as i" [style]="'z-index: '+ (products.length - i)">
      <img [src]="'https://picsum.photos/id/'+(i * 5)+'/100/100'" alt="">
      <p class="name">{{ product.name }}</p>
      <span class="close" (click)="removeProduct(i)">X</span>
      <div class="price">$ {{ product.price }}</div>
    </div>
  </section>
</section>
